@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;//不换行
  text-overflow: ellipsis;//显示省略符号来代表被修剪的文本
}
@mixin two {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
//display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;
//overflow: hidden;